@font-face {
    font-family: FjallaOne;
    src: url(../fonts/FjallaOne-Regular.ttf);
}

html {
    font-family: FjallaOne;
}

body {
    background-color: beige;
    font-size: 1.4em
}

.flex {
    display: flex;
}

header {
    text-align: center;
    background-color: lightgoldenrodyellow;
    border: 10px solid lightgreen;
    box-shadow: 5px 5px 15px 10px grey;
    border-radius: 9px;
    text-align: center;
    margin: 15px 5px;
}

.main-container {
    flex-direction: column;
    justify-content: space-between;
}

.canvas-container {
    flex-direction: column;
    margin: 20px;
    max-width: 1024px;
    min-width: 500px;
    height: auto;
    margin: 0 auto;
    max-width: 740px;

}

.flex-container {
    flex-direction: row;
}

canvas {
    width: 100%;
    height: auto;
    border: 2px green solid;
    align-self: center;
    margin-top: 20px;
}


.edit-pannel-container {
    flex-direction: column;
    /* border: 2px blue solid; */
    margin: 20px;
    text-align: center;
    width: 30vw;
}

.btn {
    background-color: rgb(0, 110, 0);
    /* background-color: rgb(223, 141, 141); */
    color: white;
    border-radius: 8px;
    padding: 3px;
    margin: 3px;
    z-index: 1;
}

.move-btn {
    width: 50px
}

.align {
    margin: 0 auto;
}

.align .btn {
    padding: 4px 20px;
}

.increase, .decrease {
    min-width: 47px;
}

a {
    text-decoration: none;
    transition: 0.4s;
    color: white;
    font-size: 1rem;
    color: black;
}

a:hover, .btn:hover {
    background-color: gray; 
    color: yellow;
}

input {
    border-radius: 8px;
    padding: 2px;
}

#color-changer {
    background-color: beige;
}

.header-img {
    float: left;
    margin: 20px 0 0 30px;
    height: 130px;
    width: 130px;
}

.canvas-img {
}

#font {
    margin: 10px 0;
}


@media (max-width: 740px) {
    .flex-container {
        flex-direction: column;
    }

    header {
        display: none;
    }

    .main-container {
        max-width: 740px;
        min-width: 300px;
    }

    .canvas-container {
        max-width: 740px;
        min-width: 400px;
    }

    canvas {
        margin-top: 0;
    }

    .edit-pannel-container {
        width: 90vw;
        align-self: center;
        margin: 5px;
    }

    .btn {
        margin: 2;
    }

    .language {
        margin: 10px 0px 15px 10px;
    }

}